<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      /* CSS cho phần sidebar */
      .sidebar {
        width: 300px;
        background-color: #f1f1f1;
        height: 100%;
        position: fixed;
      }

      /* CSS cho nội dung chính */
      .main-content {
        margin-left: 200px; /* Đảm bảo nội dung không bị che khuất bởi sidebar */
        padding: 20px;
      }
      .ratings i {
        color: #cecece;
        font-size: 32px;
      }

      .rating-color {
        color: #fbc634 !important;
      }
      .preview_img {
        width: 150px;
        height: 150px;
      }
    </style>
    <title>Search Page</title>
  </head>
  <body>
    <div
      class="navbar navbar-light bg-light d-flex w-100 justify-content-between"
    >
      <h2 class="ms-3"><a style="text-decoration:none;color:#000000;" href="/">Product</a></h2>
      <form class="d-flex h-50 w-25 me-3" id="search-form" method="GET" action="{% url 'home' %}">
        <input
          class="form-control me-2"
          name="search"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit" onclick="addSearchParam()">Search</button>
      </form>
      {% comment %} <form id="search-form" method="GET" action="{% url 'home' %}"> 
        <input class="form-control me-2" type="text" name="search" placeholder="Tìm kiếm sản phẩm">
        <button type="submit">Tìm kiếm</button>
      </form> {% endcomment %}
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="sidebar">
          <div class="card">
            <div class="dropdown d-flex justify-content-between mt-1 mb-1">
              <h5 class="mt-1 ms-1">Featured Categories</h5>
              <button
                class="btn btn-primary dropdown-toggle me-1"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Selected Category
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="?category=Automotive">Automotive</a></li>
                <li><a class="dropdown-item" href="?category=Arts">Arts & Crafts</a></li>
                <li>
                  <a class="dropdown-item" href="?category=Baby">Baby</a>
                </li>
                <li>
                  <a class="dropdown-item" href="?category=Beautynal">Beauty & Personal Care</a>
                </li>
                <li>
                  <a class="dropdown-item" href="?category=Computers">Computers</a>
                </li>
                <li>
                  <a class="dropdown-item" href="?category=Electronics">Electronics</a>
                </li>
                <li>
                  <a class="dropdown-item" href="?category=Health">Health & Household</a>
                </li>
                <li>
                  <a class="dropdown-item" href="?category=Home">Home & Kitchen</a>
                </li>
                <li>
                  <a class="dropdown-item" href="?category=Industrial">Industrial & Scientific</a>
                </li>
                <li>
                  <a class="dropdown-item" href="?category=Kindle Store">Kindle Store</a>
                </li>
                <li>
                  <a class="dropdown-item" href="?category=Software">Software</a>
                </li>
                <li>
                  <a class="dropdown-item" href="?category=Sports">Sports & Outdoors</a>
                </li>
                <li>
                  <a class="dropdown-item" href="?category=Toys">Toys & Games</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Featured Price</h5>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" onclick="filterByPrice1()">
                <label class="form-check-label" for="flexCheckDefault1">0 - 5 USD</label>
              </div>              
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" onclick="filterByPrice2()">
                <label class="form-check-label" for="flexCheckDefault2">5 - 10 USD</label>
              </div>       
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" onclick="filterByPrice3()">
                <label class="form-check-label" for="flexCheckDefault3">10 - 20 USD</label>
              </div>       
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4" onclick="filterByPrice4()">
                <label class="form-check-label" for="flexCheckDefault4">>20 USD</label>
              </div>       
            </div>
          </div>
          <div class="card" data-stars="{{ product.stars }}">           
            <div class="card-body">
              <h5 class="card-title">Featured Star</h5>          
              <div class="form-check" >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="stars"
                  value="1"
                  id="star-1"
                  onclick="filterByStars(1)"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  <i class="fa fa-star rating-color"></i>
                  {% comment %} <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i> {% endcomment %}
                </label>
              </div>
              <div class="form-check" >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="stars"
                  value="2"
                  id="star-2"
                  onclick="filterByStars(2)"
                />
                <label class="form-check-label" for="star-2">
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  {% comment %} <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i> {% endcomment %}
                </label>
              </div>
              <div class="form-check" >
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="stars"
                  value="3"
                  id="star-3"                 
                  onclick="filterByStars(3)"
                />
                <label class="form-check-label" for="star-3">
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  {% comment %} <i class="fa fa-star"></i>

                  <i class="fa fa-star"></i> {% endcomment %}
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="stars"
                  value="4"
                  id="star-4"
                  onclick="filterByStars(4)"
                />
                <label class="form-check-label" for="star-4">
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  {% comment %} <i class="fa fa-star"></i> {% endcomment %}
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="stars"
                  value="5"
                  id="star-5"
                  onclick="filterByStars(5)"
                />
                <label class="form-check-label" for="star-5">
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                  <i class="fa fa-star rating-color"></i>
                </label>               
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-9">
        <h5 class="mt-3">Show {{countProducts}} Items</h5>
        {% for product in productsList %}
        <div class="card mb-3 me-3">
          <div class="d-flex justify-content-start">
            <img
              class="preview_img m-2 img-thumbnail"
              src="{{product.thumbnailImage}}"
              alt=""
            />
            <div class="ms-2">
              <h6>
                <a href="{{product.url}}">{{product.title}}</a>
              </h6>
              <div>
                <label>
                  {{product.stars}}
                  {% if product.stars >= 1.0 %}<i class="fa fa-star rating-color"></i>{% else %}<i class="fa fa-star"></i>{% endif %}
                  {% if product.stars >= 2.0 %}<i class="fa fa-star rating-color"></i>{% else %}<i class="fa fa-star"></i>{% endif %}
                  {% if product.stars >= 3.0 %}<i class="fa fa-star rating-color"></i>{% else %}<i class="fa fa-star"></i>{% endif %}
                  {% if product.stars >= 4.0 %}<i class="fa fa-star rating-color"></i>{% else %}<i class="fa fa-star"></i>{% endif %}
                  {% if product.stars == 5.0 %}<i class="fa fa-star rating-color"></i>{% else %}<i class="fa fa-star"></i>{% endif %}
                </label>
                <label class="ms-2 text-primary">{{product.reviewsCount}}</label>
              </div>
                <div><strong>Price</strong>: {{product.price.value}} $</div>
                <div><strong>Brand</strong>: {{product.brand}}</div>
                <div><strong>Description</strong>: {{product.description}}</div>
              </div>
            </div>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-center">

          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item">{% if productsList.has_previous %}
                <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ productsList.previous_page_number }}">previous</a>
            {% endif %}</li>
            <span class="page-link">
              Page {{ productsList.number }} of {{ productsList.paginator.num_pages }}.
            </span>
              <li class="page-item">{% if productsList.has_next %}
                <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ productsList.next_page_number }}">next</a>
            {% endif %}</li>
            </ul>
          </nav>
        </div>
        </div>
      </div>
    </div>
    <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<script>
  function addSearchParam() {
      var form = document.getElementById('search-form');
      var query = form.elements['search'].value;
      var url = window.location.href;
      var searchUrl = url + '?search=' + encodeURIComponent(query);
      window.location.href = searchUrl;
      console.log(window.location.href);
  }
</script>
<script>
  function filterByPrice1() {
    // Lấy giá trị checkbox
    var checkbox = document.getElementById("flexCheckDefault1");
    
    // Lấy giá trị giá tối thiểu và giá tối đa
    var minPrice = 0;
    var maxPrice = 5;
    
    // Kiểm tra trạng thái checkbox
    if (checkbox.checked) {
      // Gửi yêu cầu lọc tới server
      var url = window.location.href;
      if (url.indexOf('?') > -1){
          url += '&min_price=' + minPrice + '&max_price=' + maxPrice;
      } else {
          url += '?min_price=' + minPrice + '&max_price=' + maxPrice;
      }
      window.location.href = url;
    } else {
      // Xóa yêu cầu lọc giá
      var url = window.location.href;
      url = url.replace(/([&?])min_price=[^&]+/g, '');
      url = url.replace(/([&?])max_price=[^&]+/g, '');
      window.location.href = url;
    }
  }
</script>
<script>
  function filterByPrice2() {
    // Lấy giá trị checkbox
    var checkbox = document.getElementById("flexCheckDefault2");
    
    // Lấy giá trị giá tối thiểu và giá tối đa
    var minPrice = 5;
    var maxPrice = 10;
    
    // Kiểm tra trạng thái checkbox
    if (checkbox.checked) {
      // Gửi yêu cầu lọc tới server
      var url = window.location.href;
      if (url.indexOf('?') > -1){
          url += '&min_price=' + minPrice + '&max_price=' + maxPrice;
      } else {
          url += '?min_price=' + minPrice + '&max_price=' + maxPrice;
      }
      window.location.href = url;
    } else {
      // Xóa yêu cầu lọc giá
      var url = window.location.href;
      url = url.replace(/([&?])min_price=[^&]+/g, '');
      url = url.replace(/([&?])max_price=[^&]+/g, '');
      window.location.href = url;
    }
  }
</script>

<script>
  function filterByPrice3() {
    // Lấy giá trị checkbox
    var checkbox = document.getElementById("flexCheckDefault3");
    
    // Lấy giá trị giá tối thiểu và giá tối đa
    var minPrice = 10;
    var maxPrice = 20;
    
    // Kiểm tra trạng thái checkbox
    if (checkbox.checked) {
      // Gửi yêu cầu lọc tới server
      var url = window.location.href;
      if (url.indexOf('?') > -1){
          url += '&min_price=' + minPrice + '&max_price=' + maxPrice;
      } else {
          url += '?min_price=' + minPrice + '&max_price=' + maxPrice;
      }
      window.location.href = url;
    } else {
      // Xóa yêu cầu lọc giá
      var url = window.location.href;
      url = url.replace(/([&?])min_price=[^&]+/g, '');
      url = url.replace(/([&?])max_price=[^&]+/g, '');
      window.location.href = url;
    }
  }
</script>
<script>
  function filterByPrice4() {
    // Lấy giá trị checkbox
    var checkbox = document.getElementById("flexCheckDefault4");
    
    // Lấy giá trị giá tối thiểu và giá tối đa
    var minPrice = 20;
    var maxPrice = 1000;
    
    // Kiểm tra trạng thái checkbox
    if (checkbox.checked) {
      // Gửi yêu cầu lọc tới server
      var url = window.location.href;
      if (url.indexOf('?') > -1){
          url += '&min_price=' + minPrice + '&max_price=' + maxPrice;
      } else {
          url += '?min_price=' + minPrice + '&max_price=' + maxPrice;
      }
      window.location.href = url;
    } else {
      // Xóa yêu cầu lọc giá
      var url = window.location.href;
      url = url.replace(/([&?])min_price=[^&]+/g, '');

      window.location.href = url;
    }
  }
</script>
<script>
  function filterByStars(star) {
    // Lấy giá trị checkbox
    var checkbox = document.getElementById("star-" + star);

    // Kiểm tra trạng thái checkbox
    if (checkbox.checked) {
      // Gửi yêu cầu lọc tới server
      var url = window.location.href;
      if (url.indexOf('?') > -1) {
        url += '&stars=' + star;
      } else {
        url += '?stars=' + star;
      }
      window.location.href = url;
    } else {
      // Xóa yêu cầu lọc theo số sao
      var url = window.location.href;
      url = url.replace(/([&?])stars=[^&]+/g, '');
      window.location.href = url;
    }
  }

  // Thêm sự kiện change cho các checkbox
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  checkboxes.forEach(function (checkbox) {
    checkbox.addEventListener('change', function () {
      var star = this.value;
      filterByStars(star);
    });
  });
</script>
{% comment %} hello {% endcomment %}
  </body>
</html>

